
#containerForm{
    /*width: 700px;*/
    border: 1px solid #b8b8b8;
    padding: 40px;
    border-radius: 5px;
    font-size: 20px;
}

#containerLogin{
    width: 350px;
    border: 1px solid #b8b8b8;
    padding: 40px;
    border-radius: 5px;
    font-size: 20px;
}
.container{
    margin-top: 40px;
}
#menu_container{
    margin-top: 100px;
}
#button{
    /*
    background: #363636;
    */
    color: #ffffff;
    font-weight: bold;
}
.addButton{
    text-align: right;
}
form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.formBox{
    margin-top: 20px;
}

.displayed{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4{
    text-align: center;
}

.logo-login{
    width: 125px;
    height: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-sm-6{
    margin-top: 20px;
}

.create-acount{
    margin-top: 20px;
    text-align: center;
}